EMAIL=email@teste.com
EMAIL_PASSWORD=password

DATABASE_URL="mysql://USERNAME:PASSWORD@localhost:3306/DATABASE?schema=public"

SECRET_KEY_JWT=MySecretKeyJWT

APP_URL=http://localhost:3000
API_URL=http://localhost:3333

STORAGE=local
BUCKET_NAME=bucketName
AWS_ACCESS_KEY_ID=accessKey
AWS_SECRET_KEY_ID=secretKey
AWS_DEFAULT_REGION=region